/***********************
 RESPONSIVENESS
 ************************/

 @media screen and (min-width: 768px){
    .container{
        width: 745px;
        margin: 0 auto;
    }

    /* MAIN */
    /*? Section Purpose */
    #purpose .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #purpose .card{
        width: calc((100% / 3) - 1rem);
        margin-top: 0;
    }

    #purpose .card.big-card{
        width: calc(((100% / 3) * 2) - 0.5rem);
        margin: 0 1.5rem 1.5rem 0;
    }

    #purpose div.card:nth-last-child(2){
        margin: 0 1.5rem 1.5rem 1.5rem;
    }


    #purpose img{
        width: 50%;
    }
    

}



@media screen and (min-width: 992px){

}