/***********************
 RESPONSIVENESS
 ************************/

 @media screen and (min-width: 768px){
    .container{
        width: 745px;
        margin: 0 auto;
    }

    /* MAIN */
    /*? Section Purpose */
    #purpose .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #purpose .card{
        width: calc((100% / 3) - 1rem);
        margin-top: 0;
        text-align: center;
    }

    #purpose .card.big-card{
        width: calc(((100% / 3) * 2) - 0.5rem);
        margin: 0 1.5rem 1.5rem 0;
    }

    #purpose div.card:nth-last-child(2){
        margin: 0 1.5rem 1.5rem 1.5rem;
    }


    #purpose img{
        width: 50%;
    }
    
    /*? Section Planning */
    #planning .inside-container.first{
        margin: 1.5rem 0 1rem 0;
    }

    #planning img{
        width: 93%;
        margin: 0 auto;
        display: block;
    }

    #planning .inside-container.first h1{
        font-size: 5rem;
    }

    #planning .inside-container.last img{
        padding-top: 0;
        width: 90%;
    }

    #planning .inside-container.last p{
        font-size: 1.1rem;
    }

    /*? Section Partners*/

    #partners h1 {
        font-size: 2.7rem;
    }

    #partners .card.purple-card{
        display: flex;
        padding: 2rem;
    }
    
    #partners .card.purple-card .cit-container{
        width: 70%;
        text-align: start;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    #partners .card.purple-card .round-image{
        width: 200px;
    }

    /*? Section  Benefit*/
    #benefit h1{
        font-size: 2.8rem;
    }

    #benefit .benefit-cards-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #benefit .benefit-card{
        width: calc(50% - 1rem);
    }

    #benefit .benefit-card .card-number{
        font-size: 4.5rem;
        padding-top: 2rem;
    }
}



@media screen and (min-width: 992px){

}