/***********************
 RESPONSIVENESS
 ************************/

 @media screen and (min-width: 768px){
    .container{
        width: 745px;
        margin: 0 auto;
    }

    /* MAIN */
    /*? Section Purpose */
    #purpose .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #purpose .card{
        width: calc((100% / 3) - 1rem);
        margin-top: 0;
        text-align: center;
    }

    #purpose .card.big-card{
        width: calc(((100% / 3) * 2) - 0.5rem);
        margin: 0 1.5rem 1.5rem 0;
    }

    #purpose div.card:nth-last-child(2){
        margin: 0 1.5rem 1.5rem 1.5rem;
    }


    #purpose img{
        width: 50%;
    }
    
    /*? Section Planning */
    #planning .inside-container.first{
        margin: 1.5rem 0 1rem 0;
    }

    #planning img{
        width: 93%;
        margin: 0 auto;
        display: block;
    }

    #planning .inside-container.first h1{
        font-size: 5rem;
    }

    #planning .inside-container.last img{
        padding-top: 0;
        width: 90%;
    }

    #planning .inside-container.last p{
        font-size: 1.1rem;
    }

    /*? Section Partners*/

    #partners h1 {
        font-size: 2.7rem;
    }

    #partners .card.purple-card{
        display: flex;
        padding: 2rem;
    }
    
    #partners .card.purple-card .cit-container{
        width: 70%;
        text-align: start;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    #partners .card.purple-card .round-image{
        width: 200px;
    }

    /*? Section  Benefit*/
    #benefit h1{
        font-size: 2.8rem;
    }

    #benefit .benefit-cards-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #benefit .benefit-card{
        width: calc(50% - 1rem);
    }

    #benefit .benefit-card .card-number{
        font-size: 4.5rem;
        padding-top: 2rem;
    }

    /*? Section  About-us*/
    #about-us{
        padding: 4.5rem 0 5.5rem 0;
    }

    #about-us .container{
        display: flex;
    }

    #about-us .about-us-container.text-container{
        width: 65%;
        padding: 0 4rem 0 2rem;
    }

    #about-us .text-container h1{
        font-size: 4.5rem;
    }

    #about-us .about-us-container.cit-container{
        width: 35%;
        padding-right: 2rem;
    }

    #about-us .about-us-container.cit-container .round-image{
    height: 240px;
    width: 240px;
    }

    /*? Section  Get-Starded*/

    #get-started .container > h1{
        font-size: 3rem;
    }
    
    #get-started .container > p.free{
    font-size: 6rem;
    padding: 4rem 0 4.5rem 0;
    }

    #get-started .container > p:nth-last-child(3){
        padding: 0 9rem;
    font-size: 1.1rem;
    }

    #get-started .container > button{
        padding: 1.6rem 5.5rem;
        margin: 2rem 0;   
    }

    /* footer */

    footer .container{
        padding: 2.5rem 10rem;
    }

    footer .container p{
        font-size: 1rem;
    }



}



@media screen and (min-width: 992px){

}