/************************
 GENERAL STYLE 
 ************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



 /***********************
 UTILITIES
 ************************/
/* LAYOUT */


 /* COLOR */


 /* TEXT-STYLE */



 /***********************
 SECTION 
 ************************/
 /* HEADER */


 /* MAIN */


 /* FOOTER */




 /***********************
 RESPONSIVENESS
 ************************/