/************************
 GENERAL STYLE 
 ************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

header{
    background-color: #0084fd;
}

p{
    line-height: 1.7rem;
}

ul{
    list-style-type: none;
}


footer{
    min-height: 100px;
    background-color: #b5ddff;
}

section

 /***********************
 UTILITIES
 ************************/
/* LAYOUT */
.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-j-spacebetween{
    display: flex;
    justify-content: space-between;
}

.flex-centered{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 310px;
    margin: 0 auto;
}

.button{
    padding: 0.7rem 3.5rem;
    border-radius: 20px;
    border: rgba(0, 0, 0, 0);
    color: white;
}

.round-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    background-color: black;
    display: inline-block;
    
    background-size: cover;
    background-position: center;
}

 /* COLOR */
.bc-purple{
    background-color: #9792e4;
}

.cl-purple{
    color: #9792e4;
}

.cl-white{
    color: white;
}

.cl-gray{
    color: gray;
}

 /* TEXT-STYLE */
.text-cenetred{
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-underline{
    text-decoration: underline;
}

.text-strong{
    font-weight: 700;
}


 /***********************
 SECTION 
 ************************/
 /* HEADER */
    header .container{
        padding: 1rem 0 1.2rem 0;
    }

    header img{
        height: 40px;
    }

    header i{
        font-size: 1.5rem;
        padding-top: .5rem;
    }

    header nav{
        display: none;
    }

    header nav ul{
        display: flex;
    }

    header nav ul li{
        color: white;
        padding: 0 2rem;
    }

    header nav button.button{
        background-color: white;
        color: black;
        padding: 0.5rem 1rem;
    }

 /* MAIN */
    /*? Section Purpose */
    #purpose{
        margin: 3rem 0 5.5rem 0;
    }

    #purpose .card{
        width: 100%;
        background-color: #b5ddff;
        margin: 1.5rem 0;
        padding: 2rem 2rem 0 2rem;
        border-radius: 20px;
        text-align: center;
    }

    #purpose .card.big-card{
        text-align: start;
    }

    #purpose h1{
        font-size: 1.5rem;
        color: #0084fd;
    }

    #purpose p{
        padding: 1.5rem 0;
        line-height: 1.7rem;
    }

    #purpose button{
        background-color: #0084fd;
        margin:0.5rem 0 2rem 0;
        letter-spacing: 2px;
        font-weight: 700;

    }

    #purpose .card > i{
        font-size: 5rem;
        padding-bottom: 1.5rem;
        color: #0084fd;
    }

    #purpose img{
        width: 100%;
        display: block;
    }

    /*? Section Planning */
    #planning{
        padding-bottom: 3rem;
    }

    #planning .inside-container{
        margin: 1.5rem 0;
        border-radius: 50px;
    }

    #planning .inside-container.first{
        padding: 4rem 0 0 0;
        color: white;
    }

    #planning .inside-container.first h1{
        padding: 5rem 0 3rem 0;
        font-size: 2rem;
    }

    #planning .inside-container.last{
        background-color: white;
        padding: 2rem;
        text-align: center;
    }

    #planning .inside-container.last img{
        padding-top: 0.5rem;
        width: 110%;
    }

    #planning .inside-container.last p{
        padding: 1rem 0;
        font-style: italic
    }

    #planning img{
        width: 100%;
    }

    .round-arrow-down{
        height: 50px;
        width: 50px;
        background-color: #9792e4;
        border-radius: 50%;
        margin: 1rem auto 0 auto;
    }
    .round-arrow-down i{
        line-height: 100%;
    }

    /*? Section Partners*/
    #partners{
        margin-bottom: 7rem;
    }

    #partners h1{
        padding: 1.5rem 0 1.9rem 0;
        color: #9792e4;
        font-size: 2.2rem;
        line-height: 3rem;
    } 

    #partners .card{
        width: 100%;
        background-color: #9792e4;
        margin: 2rem 0;
        padding: 2rem 2rem 0 2rem;
        border-radius: 50px;
        text-align: center;
    }

    #partners .card.white-card{
        background-color: white;
        padding: 2rem 0;
    }

    #partners .card.white-card p:first-child,
    #partners .card.white-card p:last-child{
        font-size: 1.3rem;
        line-height: 2rem;
    }

    #partners .card.purple-card{
        color: white;
        font-size: 1.1rem;
    }

    #partners .card.purple-card p{
        line-height: 2rem;
    }

    #partners .card.purple-card p > i{
        font-size: 1.5rem;
    }

    #partners .card.purple-card p:last-child{
        font-weight: 700;
        text-transform: uppercase;
        padding: 1.5rem 0 2rem 0;
        font-size: 1.3rem;
        letter-spacing: 2px;
    }

    #partners .card .round-image.nat{
        background-image: url(../img/testimonial1.jpg);
    }

    #partners .card .round-image.celia{
        background-image: url(../img/testimonial2.jpg);
    }

    #partners .card .round-image.bob{
        background-image: url(../img/testimonial3.jpg);
    }


    /*? Section  Benefit*/
    #benefit{
        padding: 2rem;
    }

    #benefit h1{
        text-align: center;
        font-size: 2.3rem;
        padding: 2rem 0 4rem 0;
        color: white;
    }

    #benefit .benefit-card{
        background-color: white;
        padding: 2rem 2rem 0 2rem;
        border-radius: 20px;
        margin-bottom: 2rem;
    }

    #benefit .benefit-card .card-number{
        font-size: 3rem;
        font-weight: 700;
        padding-top: 1rem;
        color: #9792e4;
    }
    #benefit .benefit-card h2{
        padding: 2.5rem 0 1.5rem 0;
        color: #9792e4;
    }

    #benefit .benefit-card button{
        margin: 1.5rem 0 2rem 0;
        background-color:#9792e4;
        font-weight: 700;
        padding: 0.7rem 3rem;
        letter-spacing: 2px;
    }

    /*? Section  About-us*/
    #about-us{
        padding: 3rem 0 5.5rem 0;
    }

    #about-us .text-container{
        padding: 2rem 0;
    }

    #about-us .text-container h1{
        font-size: 3rem;
        font-weight: 700;
        color: #9792e4;
    }

    #about-us .text-container p{
        line-height: 2.5rem;
        font-size: 1.1rem;
        padding-top: 2rem;
    }

    #about-us .text-container p:last-child{
        padding: 3rem 0 1rem 0;
    }


    #about-us .cit-container .round-image{
        height: 180px;
        width: 180px;
        background-image: url(../img/about.jpg);
    }

    #about-us .cit-container i{
        font-size: 3rem;
        color: #9792e4;
        position: relative;
        right: 0;
    }

    #about-us .cit-container p{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: #9792e4;
        padding: 1rem 0 1.5rem 0;
    }

    #about-us .cit-container button{
        background-color: #9792e4;
        padding: 0.5rem 2rem;
    }

    #about-us .cit-container button i{
        font-size: 0.9rem;
        color: white;
        
    }

    /*? Section  Get-Starded*/
    #get-started{
        background-color: #9792e4;
        color: white;
        text-align: center;
        padding: 3.5rem 0;
    }

    #get-started .container > *{
        padding: 0.5rem 0;
    }

    #get-started .container > p:first-child{
        color: lightgray;
        font-size: 1.2rem;
    }

    #get-started .container > h1{
        font-size: 2rem;
    }

    #get-started .container > p.free{
        color: #fdc15f;
        font-size: 3.5rem;
        padding: 2rem 0 3rem 0;
        font-weight: 700;
    }

    #get-started .container > button{
        background-color: white;
        color: #9792e4;
        font-size: 1.1rem;
        padding: 1.4rem 5.5rem;
        font-weight: 700;
        margin: 1.5rem 0;
        border-radius: 50px;
        letter-spacing: 2px;
    }

    #get-started .container > p:last-child{
        line-height: 1rem;
        font-size: 0.9rem;
    }


 /* FOOTER */
    footer{
        background-color: #333333;
    }   

    footer .container{
        color: white;
        padding: 2.5rem 0;
        text-align: center;
    }

    footer .container p{
        font-size: 0.85rem;
        line-height: 1rem;
    }

    footer .container p:first-child{
        padding-bottom: 4.5rem;
    }
