/************************
 GENERAL STYLE 
 ************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !da eliminare */
header{
    background-color: #0084fd;
}

section{
    /* !qui sotto da eliminare */
    min-height: 100px;
}

/* !da eliminare */
footer{
    /* !qui sotto da eliminare */
    min-height: 100px;
    background-color: #b5ddff;
}

section

 /***********************
 UTILITIES
 ************************/
/* LAYOUT */
.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-j-spacebetween{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 310px;
    margin: 0 auto;
    padding: 0 1rem;
    /* !qui sotto da eliminare */
    min-height: 80px;
    background-color: #b5ddff;
}

 /* COLOR */
.bc-purple{
    background-color: #9792e4;
}

.cl-white{
    color: white;
}

 /* TEXT-STYLE */



 /***********************
 SECTION 
 ************************/
 /* HEADER */
    header .container{
        padding: 1rem 0 1.2rem 0;
    }

    header img{
        height: 40px;
    }

    header i{
        font-size: 1.5rem;
        padding-top: .5rem;
    }

 /* MAIN */


 /* FOOTER */




 /***********************
 RESPONSIVENESS
 ************************/

