/************************
 GENERAL STYLE 
 ************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* !da eliminare */
header{
    background-color: #0084fd;
}

p{
    line-height: 1.7rem;
}

ul{
    list-style-type: none;
}

section{
    /* !qui sotto da eliminare */
    min-height: 100px;
}

/* !da eliminare */
footer{
    /* !qui sotto da eliminare */
    min-height: 100px;
    background-color: #b5ddff;
}

section

 /***********************
 UTILITIES
 ************************/
/* LAYOUT */
.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-j-spacebetween{
    display: flex;
    justify-content: space-between;
}

.flex-centered{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 310px;
    margin: 0 auto;
    /* !qui sotto da eliminare */
    min-height: 80px;
    background-color: lightpink;
}

.button{
    padding: 0.7rem 3.5rem;
    border-radius: 20px;
    border: rgba(0, 0, 0, 0);
    color: white;
}

 /* COLOR */
.bc-purple{
    background-color: #9792e4;
}

.cl-white{
    color: white;
}

 /* TEXT-STYLE */
.text-cenetred{
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-strong{
    font-weight: 700;
}


 /***********************
 SECTION 
 ************************/
 /* HEADER */
    header .container{
        padding: 1rem 0 1.2rem 0;
    }

    header img{
        height: 40px;
    }

    header i{
        font-size: 1.5rem;
        padding-top: .5rem;
    }

 /* MAIN */
    /*? Section Purpose */
    #purpose{
        margin: 3rem 0 5.5rem 0;
    }

    #purpose .card{
        width: 100%;
        background-color: #b5ddff;
        margin: 1.5rem 0;
        padding: 2rem 2rem 0 2rem;
        border-radius: 20px;
        text-align: center;
    }

    #purpose .card.big-card{
        text-align: start;
    }

    #purpose h1{
        font-size: 1.5rem;
        color: #0084fd;
    }

    #purpose p{
        padding: 1.5rem 0;
        line-height: 1.7rem;
    }

    #purpose button{
        background-color: #0084fd;
        margin:0.5rem 0 2rem 0;

    }

    #purpose .card > i{
        font-size: 5rem;
        padding-bottom: 1.5rem;
        color: #0084fd;
    }

    #purpose img{
        height: 300px;
    }

    /*? Section Planning */
    #planning{
        padding-bottom: 3rem;
    }

    #planning .inside-container{
        margin: 1.5rem 0;
        border-radius: 50px;
    }

    #planning .inside-container.first{
        padding: 4rem 0 0 0;
        color: white;
    }

    #planning .inside-container.first h1{
        padding: 5rem 0 3rem 0;
        font-size: 2rem;
    }

    #planning .inside-container.last{
        background-color: white;
        padding: 2rem;
        text-align: center;
    }

    #planning .inside-container.last img{
        padding-top: 0.5rem;
        width: 110%;
    }

    #planning .inside-container.last p{
        padding: 1rem 0;
        font-style: italic
    }

    #planning img{
        width: 100%;
    }

    .round-arrow-down{
        height: 50px;
        width: 50px;
        background-color: #9792e4;
        border-radius: 50%;
        margin: 1rem auto 0 auto;
    }
    .round-arrow-down i{
        line-height: 100%;
    }

    /*? Section Partners*/
    #partners{
        margin-bottom: 7rem;
    }

    #partners h1{
        padding: 1.5rem 0 1.9rem 0;
        color: #9792e4;
        font-size: 2.2rem;
        line-height: 3rem;
    } 

    #partners .card{
        width: 100%;
        background-color: #9792e4;
        margin: 1.5rem 0;
        padding: 2rem 2rem 0 2rem;
        border-radius: 50px;
        text-align: center;
    }

    #partners .card.white-card{
        background-color: white;
        padding: 2rem 0;
    }

    #partners .card.white-card p:first-child,
    #partners .card.white-card p:last-child{
        font-size: 1.3rem;
        line-height: 2rem;
    }

    #partners .card.purple-card{
        color: white;
        font-size: 1.2rem;
    }

    #partners .card.purple-card p{
        line-height: 2rem;
    }

    #partners .card.purple-card p:last-child{
        font-weight: 700;
        text-transform: uppercase;
        padding: 1.5rem 0;
    }

    #partners .card .round-image{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-bottom: 0.5rem;
        background-color: black;
        display: inline-block;
        
        background-size: cover;
        background-position: center;
    }

    #partners .card .round-image.nat{
        background-image: url(../img/testimonial1.jpg);
    }

    #partners .card .round-image.celia{
        background-image: url(../img/testimonial2.jpg);
    }

    #partners .card .round-image.bob{
        background-image: url(../img/testimonial3.jpg);
    }


    /*? Section  Benefit*/
    #benefit{

    }

    #benefit h1{
        font-size: 2rem;
        padding: 3rem 0;
    }

    #benefit .benefit-card{
        background-color: white;
        padding: 2rem;
        border-radius: 20px;
    }

    #benefit .benefit-card .card-number{
        font-size: 3rem;
        font-weight: 700;
        padding-top: 1rem;
        color: #9792e4;
    }
    #benefit .benefit-card h2{
        padding: 2.5rem 0 1.5rem 0;
        color: #9792e4;
    }
    #benefit .benefit-card button{
        margin: 1.5rem;
        background-color:#9792e4;
    }

    /*? Section  About-us*/
    /*? Section  Get-Starded*/
 /* FOOTER */




 /***********************
 RESPONSIVENESS
 ************************/

